body {
  font-family: Montserrat, sans-serif;
  color: #777;
  line-height: 1.6;
}
h2, h3, h4 {
  margin: 10px 0 20px 0;
  color: #111;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 16px;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #16161d !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.justify{
  text-align: justify;
}
.whole-screen {
  height: 100vh;
  position: relative;
}
.container-center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.container {
  padding: 80px 120px;
}
.hi {
  font-size: 64px !important;
  font-family: "Montserrat", sans-serif;
}
.bg-1 {
  background: #2d2d30;
  color: #fff;
}
.bg-1 h3, .bg-1 h2 {
  color: #fff;
}
#profile h2, #contact h2 {margin-bottom: 10px!important;}
#experience h3 {
  color: #33F8F2;
}
#experience b {
  font-size: 20px;
  color: #3E8BE9;
  margin-bottom: 20px;
}
#experience ul {
  padding-left: 20px !important;
}
h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

#experience h5{color: #85C1E9;}
.glyphicon {color: #BBC3C8 }
.colour-purple {color:#CB91DA;}
.colour-blue {color:#9EA8E8 ;}
.colour-green{color: #75CFCA; }
.colour-green2 {color:#82D37E; }
.colour-orange {color: #F3AB4E;}
.colour-blue2 {color: #4E9BF3;}
.colour-purple2{color: #CA5FB8;}
.colour-greenh3{color: #61BFAD;}
.colour-blue3{color:#755FCA;}
.colour-skills{color: #F75E59;}
.colour-profile{color: #F29050 ;}
#skills h3 {
  margin:30px 0px 5px 0px!important;
}

.ability-title {
  display: inline-block;
  width: 70%;
  padding-right: 5px;
}
.ability-grade{
  float:center;
}

.icon{
  display: inline-block;
  padding-right: 5px;
  font-size: 40px;
}
.icon-text{
  font-size: 20px;
}
a:link,a:visited,a:active{
  text-decoration: none;
}

.btn-default a{color:white;}
.btn-default,.btn-default:link,.btn-default:visited,.btn-default:active {
    color: white;
    background-color:#2d2d30;
    border-color: white;
}
.btn-default:hover{
    color: white!important;
    background-color:cornflowerblue;
    border-color: cornflowerblue;
}
/*timeline*/
.timeline-frame{position:relative}
.timeline-frame:before{
  content:"";
  width:5px;
  height:100%;
  margin:0 auto;
  background:white;
  position:absolute;
  top:0;
  left:0;
  right:0;
}
.timeline-section{
  display:inline-block;
  margin-bottom:50px;
  position:relative;
}
/*the circle*/
.timeline-section:before{
  content:"";
  width:20px;
  height:20px;
  border-radius:50%;
/*  border:3px solid #fff;*/
  background:#85C1E9;
  position:absolute;
  top:65px;
  left:50%;
/*  z-index:1;*/
  transform:translate(-50%,-50%);
}
.timeline-content{
  float:right;
  width:50%;
  padding:0 10px 0 50px;
  margin:52px 0 0;
  position:relative;
  display:inline;
  z-index: 990;
}
/*border of the frame*/
.timeline-content:before{
  content:"";
  width:90%;
  height:100%;
  border:3px solid #85C1E9;
  border-top:none;
  border-right:none;
  position:absolute;
  bottom:-13px;
  left:35px;
  z-index: -2;
}
.timeline-content a{
  color: inherit;
  z-index: 100;
  border-bottom: 2.3px solid currentColor;
  display: inline-block;
  line-height: 0.9;
/*  text-decoration: underline;*/

}
.timeline-content a:hover{color:#337ab7;;}
/*border on the timeline*/
.timeline-content:after{
  content:"";
  width:36px;
  height:3px;
  background:#85C1E9;
  position:absolute;
  top:13px;
  left:2px;
}
/*
.timeline-content ul{
    min-width:auto;
  }
*/
/*
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .short-ul ul{
    min-width: 1000px;
  }
}
*/

/*TODO: timeline responsive for mobile and add links*/
.timeline-section:nth-child(even) .timeline-content{
  float: left;
  padding:0 50px 0 10px;
}

.timeline-section:nth-child(even) .timeline-content:before{
  left:auto;
  right:35px;
  transform:rotateY(180deg);
}
.timeline-section:nth-child(even) .timeline-content:after{
  left:auto;
  right:0;
}
@media screen and (max-width: 600px) {
  .timeline-frame:before{margin:0;}
  .timeline-section:before{left:0.5%;}
  .timeline-content{width:auto;}
  .timeline-section:nth-child(even) .timeline-content{float: left;padding:0 10px 0 50px;}
  .timeline-section:nth-child(even) .timeline-content:before{left:35px;right:auto;transform:rotateY(0deg);}
  .timeline-section:nth-child(even) .timeline-content:after{left:2px;right:auto;}
}
@media screen and (max-width: 1000px) {#experience .container{padding: 0 10px;}}
/*#experience .container{padding: 0 20px;}*/

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}
.footer-icon a:link,.footer-icon a:visited,.footer-icon a:active{
  color: white;
}
.footer-icon a:hover{
  color: cornflowerblue;
}

/*slide animation*/
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  animation-duration: 1.5s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*media screen*/
@media screen and (max-width: 540px) {
  .container{
    padding:40px 40px!important;
  }
}
@media screen and (max-width: 430px) {
  .ability-title {
    width: 100%;
 }
  .justify{
    text-align: left;
  }
}


